/*background image*/

html {
	background-image: url(../images/affinity-designer.png);
	background-size: cover;
	background-repeat: no-repeat;
	}

/*Navigation Bar*/
.navigation {
	float: right;
	display: inline-block;
	cursor: pointer;
	color: white;
	font-family: 'Open Sans';
	font-weight: 300;
	padding-right: 20px;
}

.nav-list {
	width: 35px;
	height: 5px;
	background-color: #04C5DA;
	margin: 6px 0;
	transition: 0.5s;
}

/*navigation bars animation change*/
.change .bar1 {
	transform: rotate(-405deg) translate(-12px, 6px);
}

.change .bar2 {
	opacity: 0;
}

.change .bar3 {
	transform: rotate(405deg) translate(-10px, -4px);
}

a{
	display: none;
}

/*Game Board Styling*/
.game-board {
	background: url("../images/game-board-image.gif");
	background-size: cover;
	background-repeat: no-repeat;
	clear: both;
	height: 600px;
	width: 1100px;
	background-color: rgba(58,88,167,.6);
	margin: 0 auto;
	position: relative;
}

/*player divs*/
.playerOne {
	padding-top: 250px; 
	position: absolute;
	left: 0;
}

.playerTwo {
	position: absolute;
	left: 0;
}
