/*background image*/

body {
	background-image: url(../images/affinity-designer.png);
	background-size: cover;
	background-repeat: no-repeat;
	}

/*Navigation Bar*/
.navigation {
	float: right;
	padding-right: 20px;
	margin: 6px 0;
}

.navigation:hover {
	float: right;
	display: inline-block;
	padding-right: 20px;
}

.nav-list {
	width: 35px;
	height: 5px;
	background-color: #04C5DA;
	margin: 6px 0;
	transition: 0.8s;
}

.change .bar1 {
	transform: rotate(-405deg) translate(-12px, 6px);
}

.change .bar2 {
	opacity: 0;
}

.change .bar3 {
	transform: rotate(405deg) translate(-10px, -4px);
}

.nav-list a {
	display: none;
}
/*Floating center Div*/
.description {
	margin: 0 auto;
	padding-top: 146px;
	display: block;
	border-radius: 10px;
	color: white;
	text-align: center;
	max-width: 500px;
}

.info {
	background-color: rgba(40,28,70,.75);
	bottom: 0px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.info .inner {
	opacity: 1;
	padding: 36px;
}

h1 {
	font-family: 'Open Sans';
	font-weight: 300;
	text-transform: uppercase;
	opacity: .7;
}

h2 {
	margin: 0px;
	font-family: 'Open Sans';
	font-weight: 300;
	opacity: .7;
	text-transform: uppercase;
}

.play-div {
	background-color: white;
	height: 100px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	padding: 7px 18px;
}

.play {
	margin: 0 auto;
	height: 50px;
	width: 208px;
	border-radius: 10px;
	background-color: #281C46;
	font-size: 24px;
	opacity: .8;
	margin-top: 15px;
	padding-top: 20px;
}

.play:hover {
	background-color: #3A58A7;
	opacity: .6;
}

a {
	text-decoration: none;
	color: #27E8B5;
	cursor: default;
}

/*Floating Div animation*/
.description {
		-webkit-animation: zoomin 15s 1;
}

@-webkit-keyframes zoomin {
	0% {
		-webkit-transform: scale(.75);
	}

	100% {
		-webkit-transform: scale(1);
	}
}


/*Media Queries*/
/*tablets*/
@media only screen 
	and (min-device-width: 766px) 
	and (max-device-width: 1024px) 
	and (-webkit-min-device-pixel-ratio: 2) {
		body {
		background-image: url(../images/affinity-designer-tablet.png);
		width: 100%;
		height: 100%;
		}

		.description {
			max-width: 450px;
			zoom: 100%;
		}

		.nav-list {
			zoom: 200%;
			background-color: white;
		}
}

/*phones*/

@media only screen  
  and (max-device-width: 765px)
  and (-webkit-min-device-pixel-ratio: 2) {
		body {
		background-image: url(../images/affinity-designer-phone.png);
		width: 100%;
		height: 100%;
		}

		.description {
			max-width: 350px;
		}

  }